{{! Use the main layout }}
{{!< main }}

<section class="background">
    <h1>What is this website?</h1>

    <p>This website is a blog based on Eastern Fantasy novels. A common trope in Eastern Fantasy is Xianxia, or "Immortal Heroes".</p>
    <p>The trope is based around warriors who develop, or "cultivate", their inner energy, commonly referred to as "qi".</p>
    <p>These "cultivators" often gain Enlightenments that develop their qi even further and they break through to different "levels" of power, joining different "Sects" to gain more enlightenments and power!</p>
    <p>They often talk in a very haughty, over-the-top manner, with lots of focus on "saving face"(keeping one's reputation intact).</p>
    <p>Many of these tropes can be seen in the blog itself!</p> 
    <p>The genre is personally super interesting to me as the writing is so different from western media, and they scratch that power fantasy itch I'm always craving!</p>
    <p>Although a lot of said novels have horrible writing quality(some have VERY problematic writing), it still holds a dear place in my heart, as being introduced to them got me to start reading more!</p>
    <p>To learn more, click <a href="https://en.wikipedia.org/wiki/Xianxia">this link!</a></p>
</section>